
<div class="images">
    <%= image_tag @image.picture_url, width: '100%' if @image.picture.present? %>
    <a href="/aktuell/bilder/<%= @image.next.id %>" up-target=".images" up-transition="move-left">weiter</a>
</div>
