// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color-main: rgb(248, 93, 3);

$color-second: rgb(210, 210, 210);

$shadow: rgba(19, 19, 19, 0.5);

$width-small: 400px;
$width-medium:700px;
$width-large: 1000px;


* {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 3px $color-second;

    &__title {
        flex: 0 0 auto;
        color: $color-main;
        padding-left: 10px;

        @media screen and (min-width: $width-small+1) {
            font-size: 44px;
        }

        @media screen and (max-width: $width-small) {
            font-size: 28px;
        }

    }

    form {
        flex: 0 0 auto;
        padding-right: 10px;
        justify-content: end;

        input{
            outline: none;
        }

        input[type=text] {
            -webkit-appearance: textfield;
            -webkit-box-sizing: content-box;
            width: 50px;
            background-color: $color-second;
            border: solid 1px $color-main;
            border-radius: 20px;
            font-size: 15px;
            padding: 5px 10px;

            transition: all 0.5s ease-in-out;
        
            &:focus {
                width: 100px;
                border-color: $color-main;
                box-shadow: 0 0 3px $color-main;
            }

            &:hover {
                border-color: $color-main;
                box-shadow: 0 0 3px $color-main;
            }
        }

        input:-moz-placeholder {
            color: $color-main;
        }
        input::-webkit-input-placeholder {
            color: $color-main;
        }
    }  
}

.main {
    &__link {
        padding: 10px;
        background-color: $color-main;

        a {
            color: white;

            @media screen  and (min-width: $width-small+1){
                font-size: 32px;
            }

            @media screen and (max-width: $width-small){
                font-size: 20px;
            }
        }

        a:hover, a:focus {
            text-shadow: 2px 1px rgb(168, 64, 3);
        }
    }

    &__title {
        text-align: center;
        color: $color-second;
        padding: 30px 10px;

        @media screen and (min-width: $width-medium+1){
            font-size: 44px;
        }

        @media screen and (max-width: $width-medium) {
            font-size: 32px;
        }

        @media screen and (max-width: $width-small) {
            font-size: 20px;
        }
    }

    &__overview {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    &__alert {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 20px;
        color: $color-main;
         @media screen and (min-width: $width-medium+1) {
             font-size: 32px;
         }

         @media screen and (max-width: $width-medium) {
             font-size: 20px;
         }
    }

    &__button {
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 10px;
        margin-top: 30px;
        border: solid 1px $color-second;
        border-radius: 5px;
        background-color: $color-second;
        transition: all 0.3s ease-in;
         @media screen {
             
         }

        a {
            color: white;
            @media screen and (min-width: $width-medium+1) {
                font-size: 32px;
            }
   
            @media screen and (max-width: $width-medium) {
                font-size: 20px;
            }
        }
        
    }

    &__button:hover {
        text-shadow: 1px 1px 1px $shadow;
        box-shadow: 1px 1px 1px $shadow;
    }

    .overview__item {
        position: relative;
    }

    .overview__link {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        padding-top: calc(50% - 0.7rem);
        z-index: 1;
        text-align: center;
        color: white;

        @media screen and (min-width: $width-small+1) {
            font-size: 32px;
        }
        
        @media screen and (max-width: $width-small) {
            font-size: 20px;
        }
        
    }

    .overview__item::before {
        content: ' ';
        padding-top: 100%;
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
        z-index: -1;
    }

    .overview__item:nth-child(even):before {
        background-image: url("footprint_left.svg");
    }

    .overview__item:nth-child(odd)::before {
        background-image: url("footprint_right.svg");

    }

    .overview__item:nth-child(8n+4)::before {
        transform: rotate(50deg);
    }

    .overview__item:nth-child(8n+0)::before {
        transform: rotate(160deg);
    }

    .overview__item:nth-child(8n+5)::before {
        transform: rotate(140deg);
    }

    .overview__item:nth-child(8n+9)::before {
        transform: rotate(20deg);
    }

    .overview__item:nth-child(8n+6)::before {
        transform: rotate(180deg);
    }

    .overview__item:nth-child(8n+7)::before {
        transform: rotate(180deg);
    }

    /*reordering the items*/
    .overview__item:nth-child(8) {
        order: 1;
    }

    .overview__item:nth-child(7) {
        order: 2;
    }

    .overview__item:nth-child(6) {
        order: 3;
    }

    .overview__item:nth-child(5) {
        order: 4;
    }

    .overview__item:nth-child(n+9):nth-child(-n+12) {
        order: 5;
    }

    .overview__item:nth-child(16) {
        order: 6;
    }

    .overview__item:nth-child(15) {
        order: 7;
    }

    .overview__item:nth-child(14) {
        order: 8;
    }

    .overview__item:nth-child(13) {
        order: 9;
    }

    .overview__item:nth-child(n+17):nth-child(-n+20) {
        order: 10;
    }

    .overview__item:nth-child(24) {
        order: 11;
    }

    .overview__item:nth-child(23) {
        order: 12;
    }

    .overview__item:nth-child(22) {
        order: 13;
    }

    .overview__item:nth-child(21) {
        order: 14;
    }

    .overview__item:nth-child(n+25):nth-child(-n+28) {
        order: 15;
    }

    .overview__item:nth-child(32) {
        order: 16;
    }

    .overview__item:nth-child(31) {
        order: 17;
    }

    .overview__item:nth-child(30) {
        order: 18;
    }

    .overview__item:nth-child(29) {
        order: 19;
    }

    .overview__item:nth-child(n+33):nth-child(-n+36) {
        order: 20;
    }

    .overview__item:nth-child(40) {
        order: 21;
    }

    .overview__item:nth-child(39) {
        order: 22;
    }

    .overview__item:nth-child(38) {
        order: 23;
    }

    .overview__item:nth-child(37) {
        order: 24;
    }

    .overview__item:nth-child(n+41):nth-child(-n+44) {
        order: 25;
    }

    .overview__item:nth-child(48) {
        order: 26;
    }

    .overview__item:nth-child(47) {
        order: 27;
    }

    .overview__item:nth-child(46) {
        order: 28;
    }

    .overview__item:nth-child(45) {
        order: 30;
    }

    .overview__item:nth-child(n+49):nth-child(-n+52) {
        order: 31;
    }

    .overview__item:nth-child(55) {
        order: 32;
    }

    .overview__item:nth-child(54) {
        order: 33;
    }

    .overview__item:nth-child(53) {
        order: 34;
    }
}

// Detailansicht; gilt auch für aktuellen Eintrag
.detailansicht {
    &__title {
        text-align: center;
        color: $color-main;
        padding: 20px;

        @media screen and (min-width: $width-small+1) {
            font-size: 44px;
        }

        @media screen and (max-width: $width-small) {
            font-size: 28px;
        }

        
    }

    &__img {
        width: 50%;
        margin-left: auto;
        margin-right: auto;

        img {
            border-radius: 5px;
            box-shadow: 2px 2px 2px $shadow;
        }
    }

    &__text {
        margin-top: 20px;
        padding: 20px;
        text-align: justify;

        @media screen and (min-width: $width-small+1) {
            font-size: 32px;
        }

        @media screen and (max-width: $width-small) {
            font-size: 20px;
            line-height: 28px;
        }
    }

    &__thumbs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    &__thumb {
        @media screen and (min-width: $width-medium+1) {
            width: calc(10% - 20px);
        }

        @media screen and (max-width: $width-medium) {
            width: calc(30% - 20px);
        }
        flex: 0 0 auto;

        img {
            border-radius: 5px;
            box-shadow: 2px 2px 2px $shadow;
        }

        transition: all 1s ease-in;
    }

    &__thumb:hover {
        @media screen and (min-width: $width-medium+1) {
            width: calc(30% - 20px);
        }

        @media screen and (max-width: $width-medium) {
            width: calc(50% - 20px);
        }
        width: calc(50% - 20px);
    }

}